<!DOCTYPE html>
<html lang="ja">
<head>
    <mata charset="utf-8">
    <title>ToDo</title>
</head>
<body>
    <h1>ToDoリスト</h1>
    <ul>
        <% @comments.each do |comment| %>
        <li data-id= "<%= comment.id %>">
            <%= comment.body %>
            <span class="completed">done!</span>
        </li>
        <% end %>
    </ul>
    <h2>追加</h2>
    <form method="post" action="/new">
        <input type= "text" name="body"><input type= "submit" value="post!">
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        $('.completed').click(function(){
            var el = $(this).parent();
            if (confirm('タスクは完了しましたか?')){
                $.post('/delete',{
                    id: el.data('id')
                },function(){
                    el.fadeOut(800);
                });
            }
        })
    </script>
</body>
</html>