<!DOCTYPE html>
<html lang="ja">
<head>
    <mata charset="utf-8">
    <title>ToDo</title>
</head>
<body>
    <h1>ToDoリスト</h1>
    <ul>
        <% @comments.each do |comment| %>
        <li data-id= "<%= comment.id %>">
            <%= comment.body %>
            <form method="post" action="/delete">
              <input type="hidden"  name="id" value="<%= comment.id %>">
              <input type="submit" value="done!">
            </form>
        </li>
        <% end %>
    </ul>
    <form method="post" action="/new">
        <input type= "text" name="body">
        <input type= "submit" value="追加">
    </form>
</body>
</html>